<div class="container">
  <h1>Welcome to Blog</h1>

  <a href="/">Home</a> | <a href="#"> View all tags</a>
  <p>this is a test</p>

  <form action="createpost" method="POST">
    Title: <br />
    <input type="text" name="title"><br />
    Content: <br />
    <textarea rows="4" cols="50" name="content"></textarea>
    <br />
    Tags:
    <input type="text" name="tags">
    <br /><br />
    <input type="submit" value="Submit">
  </form>

</div>
