<div class="container">
  <h1>Welcome to Blog</h1>

  <a href="/">Home</a> | <a href="#"> View all tags</a>
  <br /><br />
  <form action="createpost" method="POST">
    Title: <br />
    <input type="text" name="content[title]"><br /><br />
    Content: <br />
    <textarea rows="4" cols="50" name="content[content]"></textarea>
    <br /><br />
    Tags:
    <select name="tag[tag_id]">
      <% Tag.all.each do |x| %>
      <option value="<%= x.id %>"><%= x.id %> <%= x.label %></option>
      <% end %>
    </select>
    <br /><br />
    <input type="submit" value="Submit">
  </form>

</div>
