<div class="container">
  <h1>Post from tag <%= params[:tag] %></h1>

  <a href="/">Home</a> | <a href="/create">Create a blog post</a>
    <% @array.each do |y| %>
      <h2><%= Post.find(y).title %></h2>
      <p><%= Post.find(y).content %></p>
    <% end %>
  <br />

</div>


